body{
    background-color: #ecc57d;
}


.titulo{
text-align: center;
color: orangered;
}

.ingredientes{ 
    text-align: center;
    color: orangered;
}

.mododepreparo{
    text-align:center ;
    color: orangered;
}

p{
    font-size: 20px;
    text-align: left;
    margin: 15px;
    margin-right: 200px;
}

img{
    width:270px;
    height: 270px;
margin: 15px;
margin-left: 200px;
}