body{
    background-color: wheat;
}


.titulo{
text-align: center;
color: chocolate;
}

.ingredientes1{ 
    text-align: center;
    color: chocolate;
}

.ingredientes2{
 text-align: center;
 color: chocolate;
}

.mododepreparo{
    text-align:center ;
    color: chocolate;
}

p{
    font-size: 20px;
    text-align: center;
    margin: 15px;
    margin-right: 200px;
}

img{
    width:270px;
    height: 270px;
margin: 15px;
margin-left: 200px;
}