body{
    background-color: khaki;
}
h1{
    font-size:30px;
    color: chocolate;
    text-align: left;
    margin: 15px;
}
p{
    font-size: 20px;
    text-align: left;
    margin: 15px;
    margin-right: 200px;
}

img{
    width:270px;
    height: 270px;
margin: 15px;
margin-left: 40px;
}
header{
    background-color: beige;
    font-size: 25px;
    text-align: center;
    
}
.lista_cabecalho{
    display: flex;
}
.item_lista_cabecalho{
    padding-left: 150px;
    list-style: none;
}